<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport" />
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="format-detection" content="telephone=no" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <link rel="shortcut icon" href="http://img.diankuai.com/8f/85/178/2019-04/5ca47d42cec65.png">
    
    <meta http-equiv="Cache-Control" content="max-age=900" />
    
    <title></title>
    <link rel="stylesheet" href="http://www.lovechuxin.com/PublicMob/css/dist/style.css?v=20170519793336734545114556511">
        
    
    <style>
        body {
            background-image: inherit;
        }
        
        .members_goodspic {
            padding-left: 0.3%
        }
        
        .all_members_con {
            width: 100%
        }
        
        .members_flash {
            margin-top: 0px
        }
    </style>


    <!-- 百度统计 -->
    
        <!-- 首页装修页面组件夺宝商品加购物车样式 start -->
    <link rel="stylesheet" href="http://www.lovechuxin.com/PublicMob/css/dist/index/activeity_crowdIndex.css?v=20170519793336734545114556511">
    <!-- 首页装修页面组件夺宝商品加购物车样式 end -->
</head>

<body style="background-color: #ffffff;">
<!-- 返回粉盟直播入口 -->
<div class="top-panel">
    <div class="apptip" id="j-quickFollow-autohide" style="display:none;">
        <i class="icon-close j-appdown-close"></i>
        <div class="apptip-logo clearfix">
            <img class="fl" src="">
            <div class="apptip-logo-con">
                                    <span class="apptip-text fl single">关注公众号，享专属服务</span>            </div>
            <a href="javascript:;" class="apptip-btn fr j-quickFollow">立即关注</a>
        </div>
    </div>

    <!-- 在app中打开 -->
    </div>

<div class="membersbox pad50">

    
    <div class="members_con j-diyHtml noMargin">
        <section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/5497/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4550ce74d1.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="javascript:;" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695d35d00.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Activity/coupon/cid/575/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695dae25b.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Activity/coupon/cid/576/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695e07b58.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Activity/coupon/cid/581/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695c337d7.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Activity/coupon/cid/582/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695cc1d4d.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4550f970db.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/4694/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45510341e5.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/4689/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-01/5c2d943914305.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/4688/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-01/5c2d93674bcd0.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4551ebae5b.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6364/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4550b10014.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6366/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4551feacad.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6370/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4552074a6d.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45520e698b.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6329/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca455217d291.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6317/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45522142a8.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6331/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4552291a2b.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca455319a658.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6377/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45509c57ff.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col2 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6373/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4553321b47.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6395/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4553398986.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695b356f4.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col3 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/group/id/1620/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695b9717a.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/group/id/1621/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695a46037.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/group/id/1622/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5cc1695a979fa.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45535e964f.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col3 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/6330/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4554600c01.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6328/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4554679f70.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6326/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45546e4e23.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45547625c9.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col3 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/4520/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45547c14d0.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/4530/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4554836684.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6349/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45548b24be.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4554942ac6.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col3 hasNoMargin clearfix">
			<a href="http://www.lovechuxin.com/Item/detail/id/4662/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca45549a2470.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/4563/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4554a23102.jpg" class="lazyload" alt=""></p>
		            		        </a><a href="http://www.lovechuxin.com/Item/detail/id/6395/sid/178.html" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca4555090c81.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section><section class="modulePadding" style="padding-top:0px;padding-bottom:0px;">
			<section class="diy-imgNav-adaptImg col1 hasNoMargin clearfix">
			<a href="#" class="bdbox">
		            <p><img src="http://www.lovechuxin.com/PublicMob/images/lazyload/default.png" data-original="http://img.diankuai.com/8f/85/178/2019-04/5ca455510eb12.jpg" class="lazyload" alt=""></p>
		            		        </a>	    </section></section>    </div>

        <section class="members_bottom support">
                        <section style="width:auto;height:auto;padding:0 3.125%;">
                <p>All Rights Reserved &copy;2019 初心文化 版权所有</p>
            </section>        </section>
    <section class="qiboot-content">
                <section id="qiboot-copyleft" style="background-image:url(http://img.diankuai.com/8f/85/178/2019-04/5ca47d42cec65.png)"></section>
                <section id="qiboot-copyright"></section>
            </section>    <div style="width:100%;margin:0 auto; padding:10px 0; text-align:center;" class="varchar">
                                    <a href="http://www.miitbeian.gov.cn" target="_blank" style="display:block;vertical-align: top;color: #b3b3b3;height:20px;line-height:20px;">浙ICP备18023747号</a>        </div>    
    <b id="htmlReplace-navCart"></b>
</div>

<div id="mmexport"><img src="http://www.lovechuxin.com/PublicMob/images/mmexport.png" width="100%" alt=""></div>
<div id="mmexport-pl" style="display: none;"><img src="http://www.lovechuxin.com/PublicMob/images/mmexport1.png" width="100%" alt=""></div>
<div id="mmexport-share" style="display: none;"><img src="http://www.lovechuxin.com/PublicMob/images/mmexport2.png" width="100%" alt=""></div>
<div id="show_qrcode"><div class="code_box"><section><img src="" alt=""><p>长按二维码关注公众号</p></section></div></div>


<!-- 悬浮按钮 -->
    <!-- 收藏 -->
    <div class="collectbg"><img src="http://www.lovechuxin.com/PublicMob/images/collectbg.png" width="100%" alt=""><a href="javascript:;" class="a-know">我知道了</a></div>
    <div class="sharebg"><img src="http://www.lovechuxin.com/PublicMob/images/mmexport.png" width="100%" alt=""><a href="javascript:;" class="a-know">我知道了</a></div>
<script type="text/j-template" id="tpl_userCenter">
        <div class="userCenter_shade"></div>
        <div class="Quit_buttom"><img src="http://www.lovechuxin.com/PublicMob/images/popup-protocol-close.png" alt=""></div>
        <section id="userCenter-overlay" class="bdbox">
            <div class="uc-info clearfix">
                <div class="uc-info-avatar fl" style="background-image:url(<%=avatar%>);"></div>
                <div class="uc-info-meta-panel fl">
                    <div class="uc-info-meta name j-uc-name"><%=nickname%></div>
                    <%if(show_id){%>
                        <div class="uc-info-meta userid"><%= uid %></div>
                    <%}%>
                    <div class="uc-info-meta phone"><%=phone%></div>
                </div>
            </div>

            <ul class="uc-data clearfix">
                <li class="bdbox">
                    <a href="<%=url_wait_total%>"><i><%=wait_total%></i><p><%=ftitle_pending_pay%></p></a>
                </li>
                <li class="bdbox">
                    <a href="<%=url_pay_total%>"><i><%=pay_total%></i><p><%=ftitle_have_pay%></p></a>
                </li>
                <li class="bdbox">
                    <a href="<%=url_send_total%>"><i><%=send_total%></i><p><%=ftitle_has_shipped%></p></a>
                </li>
                <li class="bdbox">
                    <a href="<%=url_return_total%>"><i><%=return_total%></i><p><%=ftitle_return_goods%></p></a>
                </li>
            </ul>

            <ul class="uc-link">
                <li><a href="<%=url_allorder%>" class="icon_allorder">全部订单<span></span></a></li>
                <%if(show_myCommission){%>
                    <li><a href="<%=url_wdyj%>" class="icon_wdyj"><%=ftitle_commission%><span></span></a></li>
                <%}%>
                <%if(show_point){%>
                    <li><a href="<%=url_jf%>" class="icon_jf"><%=ftitle_point%><span></span></a></li>
                <%}%>
                <%if(show_coupon){%>
                    <li><a href="<%=url_yhq%>" class="icon_yhq"><%=ftitle_coupon%><span></span></a></li>
                <%}%>
                <%if(show_interaction){%>
                    <li><a href="<%=url_hyhd%>" class="icon_hyhd"><%=ftitle_game%><span></span></a></li>
                <%}%>
            </ul>

            <div class="uc-actions clearfix">
                <a href="javascript:;" class="btn-back fl" id="btn-close-uc">返回</a>
                <a href="/User/index" class="btn-enter fr">进入</a>
            </div>
        </section>
    </script>
    <!-- 会员中心浮层 -->
    <section id="userCenter-overlay-close"></section>
    <a href="javascript:;" id="userCenter-btn" class="userCenter-btn"></a>
    <a href="javascript:;" id="history-btn" class="history-btn"></a>
<section id="sideWidget" style="background-color:rgba(0,0,0,0.6);">
        <a href="/Shop/index/sid/178.html" class="sideWidget-btn home"></a><!-- 返回主页 -->
        <a href="/Item/cart/sid/178.html" class="sideWidget-btn cart"><i></i></a><!-- 购物车 -->
                        <a href="tel:15678937652" class="sideWidget-btn phone"></a><!-- 联系店主 -->
        <a href="javascript:;" class="sideWidget-btn share  j-sideWidget-share" ></a>
        <a href="#" class="sideWidget-btn gotop"></a><!-- gotop -->
    </section>
    <!-- 网站挂件 -->





<!-- 商品订单下单弹窗 -->
<section class="j-close-popupSKU" id="overlay"></section>  
<form action="/Order/buy/type/onbuy" method="post" id="order_form" class="formReplace">
    <b class="staticAjaxReplace" id="staticAjaxReplace-formHidden"></b>
    <b class="staticAjaxReplace" id="staticAjaxReplace-popupSku"></b>
</form>

<section class="loading" id="j-loading"></section>

<!-- start popup 购买弹层sku -->
    <section class="crowdPopup-sku bdbox" id="j-crowsku">
        <a href="javascript:;" class="btn-close j-close-popupSKU"></a>
        <section class="crowdetail_infor popup bdbox">
            <dl class="number-control">
                <dd class="clearfix">
                    <div class="title fl">购买数量</div>
                    <div class="ctrl fr clearfix">
                        <a href="javascript:;" class="md_min">-</a>
                        <input type="tel" value="1" class="md_text appearance" id="j-stocknum-ipt" data-maxnum="9999">
                        <a href="javascript:;" class="md_add">+</a>
                    </div>
                </dd>
            </dl>
        </section>
        <section class="crowdetail_infor">
            <section class="payment-info">
                <span class="pay-name">您将支付：</span>
                <span class="pay-price"><i class="price"></i>×<i class="joinnum">1</i>/次=<i class="payment"></i></span>
            </section>
            <p class="pay-tip"></p>
        </section>
        <form action="/Activity/crowdBuy" method="post" id="crowd_buy_active">
            <input type="hidden" name="item_crowd_id" value="" />
            <input type="hidden" name="participate_num" value="1">
            <input type="hidden" name="avg_price" value="">
            <input type="hidden" name="is_point_buy" value="">
        </form>
        <section class="actions bdbox clearfix">
            <a href="javascript:;" class="fl btn-next bdbox j-buyNow buyNow">确定</a>
            <!--end 立即购买 -->
        </section>
    </section>
    <!-- sku弹窗 -->
    <section class="j-close-popupSKU" class="overlay"></section>
    <!-- end popup sku -->


<!-- 会员下单后悬浮提示访客 -->
<script type="text/j-template" id="tpl_tip_visitors">
    <section class="tip_visitors" id="tip_vi">
        <img src="<%= data.headimgurl %>"/>
        <p>
            <% if(data.type == 1) {%>
                最新订单来自
            <% } else { %>
                最新评价来自
            <% } %>
            <span class="textFlow"><%= data.nickname %></span>，<%= data.time %>之前
        </p>
    </section>
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="http://www.lovechuxin.com/PublicMob/js/dist/lib-min.js?v=20170519793336734545114556511"></script>
<script src="http://www.lovechuxin.com/PublicMob/plugins/layzr/layzr.min.js?v=20170519793336734545114556511"></script>
<script src="http://www.lovechuxin.com/PublicMob/js/dist/cbb_jssdk.js?v=20170519793336734545114556511"></script>
<script src="http://www.lovechuxin.com/PublicMob/js/dist/Public/selectGoodsAddCart.js?v=20170519793336734545114556511"></script>
<script src="http://www.lovechuxin.com/PublicMob/js/dist/main.js?v=20170519793336734545114556511"></script>

<script type="text/javascript">
    var global_is_preview='1';
</script>

<script>
var Fenbot_sendDefaultApiInfo=true;//传输默认的用户数据到微聊

var global_spsBtn_isShow=false;//是否显示按钮
var global_cart_isShow=true;//是否显示购物车
var global_cartPageUrl="/Item/cart/sid/178.html?pid=0";//购物车页面地址
var global_cartAjaxUrl="/Shop/getCartNum";//购物车数据请求地址
var global_appdown_isShow=false;//是否显示app下载顶部条
var global_appdown_autoHideTime="";//app下载顶部条自动隐藏时间
var global_showcr='';
var global_wechat_getWxConfigUrl="/Shop/getWxConfig";
var global_wechat_debug=false;
var selfShareHandle=false;
var global_wechat_shareOpentions={
    title : `初心文化`,   // 标题
    desc  : ``,    // 描述
    link  : "http://www.lovechuxin.com/Shop/index/sid/178.html?pid=0",     // 链接
    imgUrl: "http://img.diankuai.com/8f/85/178/2019-04/5ca47d42cec65.png"      // 图标
};
var isDev=false;//是否开发模式
var isShowOrderTip = "";//是否显示下单提示

//会员中心浮层其它数据
    var userCenter_data={
        url_wait_total:"/Order/lists/type/2/sid/178.html?pid=0",
        url_pay_total:"/Order/lists/type/3/sid/178.html?pid=0",
        url_send_total:"/Order/lists/type/4/sid/178.html?pid=0",
        url_return_total:"/Order/lists/type/5/sid/178.html?pid=0",
        url_allorder:"/Order/lists/type/1/sid/178.html?pid=0",
        url_wdyj:"/User/my_commission/sid/178.html?pid=0",
        url_jf:"/User/point/sid/178.html?pid=0",
        url_yhq:"/User/mycoupon/sid/178.html?pid=0",
        url_hyhd:"/Activity/index/sid/178.html?pid=0"
    };

var is_open_follow=false;
var isNeedAddress = '1'; //添加地址变量
//系统提示
$(function(){
        });
</script>


    <script src="http://www.lovechuxin.com/PublicMob/plugins/swipe/swipe.js?v=20170519793336734545114556511"></script>
    <script src="http://www.lovechuxin.com/PublicMob/js/dist/Shop/index_comm.js?v=20170519793336734545114556511"></script>


<!--在线客服 -->

<!-- 返回粉盟直播 -->
<script>
    // 关闭弹框
    $(document).on("click",".fm_Closes_Del",function(){
        $(".fm_live").css("display","none");
    });
    // 详情页是否显示二维码方法
    var isshowcode=function(){};
    // 是否是微信端
    var global_wechat_isInWexin="";
</script>
<!-- 首页装修组件夺宝活动商品加入购物车弹出框内 单位变量  start-->
<script  type="text/javascript">
    var point_name = "积分";
</script>
<!-- end -->
</body>
</html>
<!-- 20170105 -->