<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Administrator" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
    <link href="../css/base.css" rel="stylesheet" type="text/css" />
    <link href="../css/slider.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../../favicon.ico" />

</head>
<body>
	<header>
		<div class="back pub_hidden"><img src="../images/back.png"></div>
	    <div class="menu pub_hidden"><img src="../images/menu.png"></div>
	</header>
	<div class="con tab indexhome">
        <div id="homebanner" class="{bannerclass}" dataname="{bannername}">
        </div>

		<div class="tabHeader">
			<ul>
				<li class="active">{label1}</li>
				<li>{label2}</li>
				<li>{label3}</li>
			</ul>
		</div>
		<div class="tabBody" id="homeproducts">
			<div class="list-item {tabclass1}" dataname="{tabname1}">
			</div>
			<div class="list-item class-A active {tabclass2}" dataname="{tabname2}">
			</div>
			<div class="list-item class-A {tabclass3}" dataname="{tabname3}">
			</div>
		</div>
	</div>
    <footer>
        <ul class="lisActive">
            <li><span><a href="../brand.html">设计</a></span></li>
            <li><span><a href="../productclassification.html">分类</a></span></li>
            <li><span><a href="../home.html"></a></span></li>
            <li><span><a href="../shoppingcart.html">购物车</a></span><span class="cartround" id="jscartround"></span></li>
            <li><span><a href="../personal.html">我的</a></span></li>
        </ul>
    </footer>
    <script type='text/javascript' src='../javascript/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='../javascript/basepath.js'></script>
    <script type='text/javascript' src='../javascript/global2.js'></script>
    <script type='text/javascript' src='../javascript/slider.js'></script>
    <script type='text/javascript' src='../javascript/simple.js'></script>
    <script type='text/javascript' src='../javascript/promotion.js'></script>
</body>
</html>