<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Administrator" />

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
    <link href="../css/base.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<header>
    <div class="back"><a href="../productclassification.html"><img src="../images/back.png"></a></div>
    <span id="jstitle">个人护理</span>
</header>
<div class="con" id="jsscroll">
    <div class="search">
        <input type="text" id="jssearchtext" placeholder="搜索商品">
        <span id="jssearch"></span>
    </div>
    <div class="sort">
        <ul id="lisAcitveOri">
            <li>价格排序</li>
            <li class="active">销量排序</li>
            <li>评价排序</li>
        </ul>
        <div class="shift" id="shift"></div>
    </div>
    <div class="class-A" id="jslist">
        <div class="item">
            <div class="bigPic">
                <img src="../images/list_pro1.jpg" alt="" class="pic">
                <span class="icon5"></span>
            </div>
            <div class="other">
                <div class="word"><p>给自己一个机会，让美丽停留在唇上，不会丢</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/uploadimg.jpg" alt="" class="pic">
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/com_pic.jpg" alt="" class="pic">
                <span class="icon3"></span>
                <div class="foreshow">
                    2015.11.11  24:00开售
                </div>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/uploadimg.jpg" alt="" class="pic">
                <div class="none">
                    <img src="../images/none.png" alt="" class="">
                </div>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/com_pic.jpg" alt="" class="pic">
                <span class="icon2"></span>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/uploadimg.jpg" alt="" class="pic">
                <span class="icon4"></span>
                <div class="foreshow">
                    2016.01.08 -2016.01.10
                </div>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/uploadimg.jpg" alt="" class="pic">
                <span class="icon6"></span>
                <div class="progress-con">
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="progress-txt">65%已被抢购</div>
                </div>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bigPic">
                <img src="../images/uploadimg.jpg" alt="" class="pic">
                <span class="icon1"></span>
                <div class="foreshow">
                    2016.01.01  08:00开抢
                </div>
            </div>
            <div class="other">
                <div class="word"><p>意大利DOLCE&GABBAN香水</p></div>
                <div class="price">
                    <div  class="top">促销价：￥</div>
                    <div class="bottom">品质价：￥</div>
                </div>
            </div>
        </div>

    </div>
    <div id="jsloading" style="clear:both;display:none;position:relative;height: 5em;">
        <img style="width:1.5em;height:1.5em;position:absolute;left:50%;margin-left:-0.75em;" src="../images/loading9.gif" />
        <div style=" position: relative;top: 2.5em;text-align: center;">
            <img src="../images/line_left.png" style="width:25%;height:auto;position:absolute;left: 5%;top: 0em;">
            <span id="jsloadingtext" style="position:absolute;color:#828689;width:100%;text-align:center;display:block;top:-0.6em;">正在加载数据</span>
            <img style="width:25%;height:auto;position:absolute;right: 5%;top: 0em;" src="../images/line_right.png"></div>
    </div>
</div>
<footer>
    <ul class="lisActive">
        <li><span><a href="../brand.html">设计</a></span></li>
        <li><span><a href="../productclassification.html">分类</a></span></li>
        <li><span><a href="../home.html"></a></span></li>
        <li><span><a href="../shoppingcart.html">购物车</a></span><span class="cartround" id="jscartround"></span></li>
        <li><span><a href="../personal.html">我的</a></span></li>
    </ul>
</footer>
<script type='text/javascript' src='../javascript/jquery-2.1.4.min.js?version=1.02'></script>
<script type='text/javascript' src='../javascript/basepath.js?a=1&version=1.02'></script>
<script type='text/javascript' src='../javascript/global2.js?a=1&version=1.02'></script>
<script type='text/javascript' src='../javascript/paging.js?a=1&version=1.02'></script>
<script type='text/javascript' src='../javascript/slider.js?a=1&version=1.02'></script>
<script type='text/javascript' src='../javascript/simple.js?a=1&version=1.02'></script>
<script type='text/javascript' src='../javascript/prolist2.js?a=1&version=1.02'></script>
<script type='text/javascript'>
    $("#lisAcitveOri").children().click(function (){
        $(this).siblings().removeClass("active");
        $(this).toggleClass("active");
    });
    $("#shift").click(function(){
        $(this).toggleClass("active");
        $("#jslist").toggleClass("active");
    });
</script>
</body>
</html>